#pushpininfo
{
    width: 220px;
    font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
#projectinfoImage
{ 
    float: left;  
}
#projectDescription
{
    margin-left: 50px;
	min-height: 40px;
}
#projectDescription p {
    margin: 0 0 5px 0; padding: 0;	
}
#projectDescription h4 {
    margin: 0 0 5px 0;	
}
#projectDescription a 
{
    color: #63a230;
    text-decoration: none;
    font-weight:bold;
}
.projectkeywords, .projectdate
{
     font-size:12px;
	 color: #888888;
}
