!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title aid-Book
    %meta{:content => "application/xhtml+xml; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "Erwin Aligam - styleshout.com", :name => "author"}/
    %meta{:content => "Site Description Here", :name => "description"}/
    %meta{:content => "keywords, here", :name => "keywords"}/
    %meta{:content => "index, follow, noarchive", :name => "robots"}/
    %meta{:content => "noarchive", :name => "googlebot"}/
    %link{:href => "css/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "scripts/jquery-1.4.4.js", :type => "text/javascript"}
    :javascript
      $(document).ready(function () {
          //hide the all of the element with class msg_body
          $(".msg_body").hide();
          //toggle the componenet with class msg_body
          $(".msg_head").click(function () {
              $(this).next(".msg_body").slideToggle(600);
          });
      });
  %body
    / header
    #header-wrap
      #header
        %a{:name => "top"}
        %a#logo-link{:href => "index.html"}/
        %h1 Aidbook
        #slogan
          %span Sharing the good we do
        /
          <div  id="nav">
          <ul>
          <li id="current"><a href="index.html">Home</a></li>
          <li><a href="style.html">About</a></li>
          <li><a href="blog.html">Support</a></li>
          <li><a href="project.htm">Project</a></li>
          <li><a href="index.html">My Profile</a></li>
          </ul>
          </div>
        /
          <p id="rss">
          <a href="register.htm">Login</a>
          </p>
        /
          <table id="logintable" cellpadding="2" cellspacing="2" border="0">
          <tr>
          <td>
          <label>User ID:</label> <input name="UserID" type="text"  id="UserID" size="15"/>
          </td>
          <td>
          <label>Password:</label> <input name="Password" type="password" class="control" id="Password1" size="15"/>
          </td>
          </tr>
          </table>
        /
          <form id="quick-search" method="get" action="index.html">
          <fieldset class="search">
          <label for="qsearch">Search:</label>
          <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
          <button class="btn" title="Submit Search">Search</button>
          </fieldset>
          </form>
        / /header
    / content-outer
    #content-wrap.clear
      #content
        / main
        #main
          .post
            /
              <div class="right">
              
              </div>
            .left
              .title-container
                %img{:alt => "Project Clean Water", :height => "80", :src => "http://t2.gstatic.com/images?q=tbn:ANd9GcSItEA61dYLvx8qH3NYQXWCnApW632JzOKG7OcTZNcNzqi5Xg2V", :style => "float: left", :width => "80"}/
                .page-label Project
                %h3.project-title No Violence Against Women
              %img{:alt => "map", :src => "images/map.jpg", :style => "padding:3px;", :width => "459"}/
              .project-info
                %h4
                  %a{:href => "#"} 6 people
                .people.clearfloats
                  .person.important
                    %a{:href => "#"}
                      %img.user-avatar{:alt => "Jin Jiang", :height => "48", :src => "images/guykawasaki.jpg", :width => "48"}/
                    .user-info
                      %a.name{:href => "#"} Jin Jiang
                      %br/
                      Project Coordinator
                  .person
                    %a{:href => "#"}
                      %img.user-avatar{:alt => "Jin Jiang", :height => "48", :src => "images/guykawasaki.jpg", :width => "48"}/
                    .user-info
                      %a.name{:href => "#"} Mila Mtongo
                      %br/
                      Volunteer
                / .people
                %a.people-link{:href => "#"} All people &rarr;
                %h4 Description
                Orphan Care Ghana is set up to Support Health Care and life saving initiatives in Ghana, ease access to medical care by equipping hospitals and clinics, help those whose lives are endangered, prevent diseases and educate the public on health issues.
                %h4 Time
                %p
                  Started in August 2008
                  %br/
                  Ends in February 2012
                %h4 Contact Details
                %dl
                  %dt Office
                  %dd
                    Hudson Road 3518 Kumasi, Ghana
                  %dt Phone
                  %dd +233 40 5901695
                  %dt Website
                  %dd
                    %a{:href => "#"} http://www.orphancareghana.org/
        / /main
        #sidebar
          .tweet
            .tweet-image
              %a{:href => "#"}
                %img{:alt => "Jin Jiang", :height => "48", :src => "images/guykawasaki.jpg", :width => "48"}/
            / #tweet-image
            .tweet-content
              .tweet-row
                %span.tweet-name
                  %a{:href => "#"} Jin Jiang
              .tweet-row
                %span.tweet-text Wow the school project was approved! Wow!
              .tweet-row
                %span.tweet-time 50 minutes ago
            / #tweet-content
          / #tweet-item
          .tweet
            .tweet-image
              %a{:href => "#"}
                %img{:alt => "Jin Jiang", :height => "48", :src => "images/guykawasaki.jpg", :width => "48"}/
            / #tweet-image
            .tweet-content
              .tweet-row
                %span.tweet-name
                  %a{:href => "#"} Jin Jiang
              .tweet-row
                %span.tweet-text Wow the school project was approved! Wow!
              .tweet-row
                %span.tweet-time 50 minutes ago
            / #tweet-content
          / #tweet-item
          .tweet
            .tweet-image
              %a{:href => "#"}
                %img{:alt => "Jin Jiang", :height => "48", :src => "images/guykawasaki.jpg", :width => "48"}/
            / #tweet-image
            .tweet-content
              .tweet-row
                %span.tweet-name
                  %a{:href => "#"} Jin Jiang
              .tweet-row
                %span.tweet-text Wow the school project was approved! Wow!
              .tweet-row
                %span.tweet-time 50 minutes ago
            / #tweet-content
          / #tweet-item
          .tweet
            .tweet-image
              %a{:href => "#"}
                %img{:alt => "Jin Jiang", :height => "48", :src => "images/guykawasaki.jpg", :width => "48"}/
            / #tweet-image
            .tweet-content
              .tweet-row
                %span.tweet-name
                  %a{:href => "#"} Jin Jiang
              .tweet-row
                %span.tweet-text Wow the school project was approved! Wow!
              .tweet-row
                %span.tweet-time 50 minutes ago
            / #tweet-content
          / #tweet-item
          .tweet
            .tweet-image
              %a{:href => "#"}
                %img{:alt => "Jin Jiang", :height => "48", :src => "images/guykawasaki.jpg", :width => "48"}/
            / #tweet-image
            .tweet-content
              .tweet-row
                %span.tweet-name
                  %a{:href => "#"} Jin Jiang
              .tweet-row
                %span.tweet-text Wow the school project was approved! Wow!
              .tweet-row
                %span.tweet-time 50 minutes ago
            / #tweet-content
          / #tweet-item
      / sidebar
      / content
    / footer-outer
    /
      <div id="footer-outer" class="clear">
      <div id="footer-wrap">
      <div class="msg_list">
      <p class="msg_head">Who we are.... </p>
      <div class="msg_body">
      We are team aidBook and we want you to participate in helping the world become a better place by using our application :)
      </div>
      </div>
      </div>
      </div>
    / footer-bottom
