<!DOCTYPE html>

%html
  %head
    %title AidBook48
    = stylesheet_link_tag 'screen', :cache => false
    = javascript_include_tag :defaults
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
  %body

    #header-wrap
      #header
        %a{:name => "top"}
        %a#logo-link{:href => "/"}
          %h1
            Aidbook
        #slogan
          %span Sharing the good we do


    #content-wrap.clear
      = yield

    #footer-outer.clear
      #footer-wrap
        .msg_list
          %p.msg_head Who we are....
          .msg_body
            We are team aidBook and we want you to participate in helping the world become a better place by using our application :)
